spring.datasource.url=jdbc:mysql://localhost:3306/resume_builder?createDatabaseIfNotExist=true
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect

# Server port
server.port=8085

# JWT configuration
jwt.secret=YOUR_JWT_SECRET_KEY_MIN_32_CHARS
jwt.expiration=3600

# Logging configuration
logging.level.org.springframework=INFO
logging.level.com.resumebuilder=DEBUG

# DevTools configuration
spring.devtools.restart.enabled=true
spring.devtools.livereload.enabled=true
spring.devtools.restart.poll-interval=2000
spring.devtools.restart.quiet-period=1000

# LinkedIn message outreach template
linkedin.message.template=Hello, Im Sanket, Software Engineer at Evoluteiq i have total 4+ years of experiance in SD1 role \nim looking for new opportunity here is my resume im attaching please let me know if any opening position for role \n\nthank you!
